set timeout=5
set default=0

menuentry "LySystemOS" {
    multiboot2 /boot/kernel.bin
    set gfxpayload=1024x768x32
    boot
}

menuentry "Power Off" {
    poweroff
    halt
}

menuentry "Reboot" {
    reboot
}